.container-fluid
  %h1 Hello World!
  %i.far.fa-address-book
  %i.fab.fa-github
  = link_to "Privacy Policy", privacy_policy_path
  = link_to privacy_policy_path, class:'btn btn-lg btn-warning' do
    %i.fa-solid.fa-file-word
    Privacy Policy
